flows.json
[
    {
        "id": "c149952a.b002c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b53a0c08.f97c38",
        "type": "mqtt in",
        "z": "c149952a.b002c",
        "name": "",
        "topic": "data",
        "qos": "0",
        "datatype": "auto",
        "broker": "82d6138b.151948",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "e5eaf005.e1bb98"
            ]
        ]
    },
    {
        "id": "e5eaf005.e1bb98",
        "type": "json",
        "z": "c149952a.b002c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "7a8aa0.fdc2056",
                "ad6a9a59.7ba008",
                "97318c9a.5dd5c",
                "8dc75d5a.1971",
                "7e061dc3.0e1ef4",
                "da68e8e7.5e27a8",
                "7309e5d6.5a227c",
                "da19e755.813d28",
                "814d0a50.f60448",
                "f3a1accd.cd427",
                "33addb9d.2331c4",
                "a976367b.532438",
                "595ad7ac.b7f088",
                "f0c57c4d.8d1f2",
                "9c5d9778.babc38"
            ]
        ]
    },
    {
        "id": "7a8aa0.fdc2056",
        "type": "debug",
        "z": "c149952a.b002c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 200,
        "wires": []
    },
    {
        "id": "1e93eefd.757351",
        "type": "mqtt in",
        "z": "c149952a.b002c",
        "name": "",
        "topic": "from_model",
        "qos": "0",
        "datatype": "auto",
        "broker": "82d6138b.151948",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "86d1ff4d.3a4bb8"
            ]
        ]
    },
    {
        "id": "86d1ff4d.3a4bb8",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "b0ff9636.df128",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Predicted Location",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "ad6a9a59.7ba008",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "f0:ec:af:cf:6c:e1",
        "format": "{{msg.payload[\"f0:ec:af:cf:6c:e1\"]}}",
        "layout": "row-spread",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "97318c9a.5dd5c",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "c2:b6:6e:70:fa:f7",
        "format": "{{msg.payload[\"c2:b6:6e:70:fa:f7\"]}}",
        "layout": "row-spread",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "8dc75d5a.1971",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "d9:5f:f5:4f:10:89",
        "format": "{{msg.payload[\"d9:5f:f5:4f:10:89\"]}}",
        "layout": "row-spread",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "7e061dc3.0e1ef4",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "c4:52:32:5c:31:e7",
        "format": "{{msg.payload[\"c4:52:32:5c:31:e7\"]}}",
        "layout": "row-spread",
        "x": 590,
        "y": 380,
        "wires": []
    },
    {
        "id": "da68e8e7.5e27a8",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "e9:3c:4a:34:13:fb",
        "format": "{{msg.payload[\"e9:3c:4a:34:13:fb\"]}}",
        "layout": "row-spread",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "7309e5d6.5a227c",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ed:61:e4:e8:22:30",
        "format": "{{msg.payload[\"ed:61:e4:e8:22:30\"]}}",
        "layout": "row-spread",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "da19e755.813d28",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ea:01:26:75:a4:c3",
        "format": "{{msg.payload[\"ea:01:26:75:a4:c3\"]}}",
        "layout": "row-spread",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "814d0a50.f60448",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "d0:4e:10:2e:cb:84",
        "format": "{{msg.payload[\"d0:4e:10:2e:cb:84\"]}}",
        "layout": "row-spread",
        "x": 590,
        "y": 540,
        "wires": []
    },
    {
        "id": "f3a1accd.cd427",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "e4:e0:0a:ae:fd:e2",
        "format": "{{msg.payload[\"e4:e0:0a:ae:fd:e2\"]}}",
        "layout": "row-spread",
        "x": 590,
        "y": 580,
        "wires": []
    },
    {
        "id": "33addb9d.2331c4",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "fa:35:76:56:6f:e3",
        "format": "{{msg.payload[\"fa:35:76:56:6f:e3\"]}}",
        "layout": "row-spread",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "a976367b.532438",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "d5:b7:dc:69:ca:ae",
        "format": "{{msg.payload[\"d5:b7:dc:69:ca:ae\"]}}",
        "layout": "row-spread",
        "x": 590,
        "y": 660,
        "wires": []
    },
    {
        "id": "595ad7ac.b7f088",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ca:81:7a:d7:55:49",
        "format": "{{msg.payload[\"ca:81:7a:d7:55:49\"]}}",
        "layout": "row-spread",
        "x": 370,
        "y": 360,
        "wires": []
    },
    {
        "id": "f0c57c4d.8d1f2",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "e7:2b:ea:2f:95:c5",
        "format": "{{msg.payload[\"e7:2b:ea:2f:95:c5\"]}}",
        "layout": "row-spread",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "9c5d9778.babc38",
        "type": "ui_text",
        "z": "c149952a.b002c",
        "group": "3e88f093.fb475",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "d4:32:fc:b5:f0:b5",
        "format": "{{msg.payload[\"d4:32:fc:b5:f0:b5\"]}}",
        "layout": "row-spread",
        "x": 370,
        "y": 480,
        "wires": []
    },
    {
        "id": "82d6138b.151948",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "mqtt.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "b0ff9636.df128",
        "type": "ui_group",
        "z": "",
        "name": "Prediction",
        "tab": "c779a2c5.1229f8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3e88f093.fb475",
        "type": "ui_group",
        "z": "",
        "name": "Beacons Captured",
        "tab": "c779a2c5.1229f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c779a2c5.1229f8",
        "type": "ui_tab",
        "z": "",
        "name": "IoT Indoor Navigation",
        "icon": "dashboard",
        "order": 1
    }
]